<div class="main-content">
  <div class="row">
    <div class="col-6">
      <img src="../../../../../assets/assets/eesl-logo.png" width="100" height="50" alt="">
    </div>
    <div class="col-6" align="end">
      <img src="../../../../../assets/assets/municipality_logo.png" width="60" height="50" alt="">
    </div>
    <div class="col-12" style="margin-top: 50px;">
      <h1 class="text-center" style="font-weight: 700; color: #5f0a87 ;">COMPLAINT HANDLING SYSTEM</h1>
    </div>
    <div class="col-12 offset-md-3 col-md-6">
      <div class="card" style="margin-top: 50px;">
        <div class="card-header card-header-primary">
          <h5 class="card-title">Login</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="loginFormGroup">
            <div class="row">
              <div class="col-md-12 col-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email" autocomplete="new-password" type="text"
                    formControlName="user_email" name="user_email" required>
                  <mat-error *ngIf="!loginFormGroup.get('user_email').valid">Enter valid email </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12 col-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" autocomplete="new-password" [type]="hide ? 'password' : 'text'"
                    formControlName="user_password" name="user_password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  <mat-error *ngIf="!loginFormGroup.get('user_password').valid">Enter valid password.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12 col-12" style="margin-top: 10px;">
                <div class="form-group">
                  <p class="forgotPass pull-right" (click)="forgotPassword()">Forgot Password?</p>
                </div>
              </div>
              <div class="col-md-12 col-12" style="margin-top: 10px;">
                <div class="form-group">
                  <mat-error>{{errorMsg}}</mat-error>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" (click)="loginFun()" [disabled]="loginFormGroup.invalid"
                  class="btn custom-button">{{titleService.btn.login}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="loading-indicator" *ngIf="spinnerloader">
  <mat-spinner mode="indeterminate" color="primary"></mat-spinner>
</div>