<div class="row">
  <div class="col-12 setting-form">
      <form [formGroup]="ulbURLSFormGroup">
          <div class="row">
              <div class="col-md-5 col-12">
                  <mat-form-field class="example-full-width">
                      <mat-select placeholder="Select ULB" type="text" formControlName="ulb_name" name="ulb_name" required>
                          <mat-option *ngFor="let option of cities" [value]="option.city">{{option.city}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="!ulbURLSFormGroup.get('ulb_name').valid">Select valid ULB. </mat-error>
                  </mat-form-field>
              </div>
              <div class="col-md-5 col-12">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Enter URL" type="text" formControlName="ulb_url" name="ulb_url" required>
                      <mat-error *ngIf="!ulbURLSFormGroup.get('ulb_url').valid">Enter valid URL. </mat-error>
                  </mat-form-field>
              </div>
              <div class="col-md-2 col-12">
                  <button type="button" (click)="ULBSubmitFun()" [disabled]="ulbURLSFormGroup.invalid" class="btn custom-button pull-right">{{titleService.btn.submit}}</button>
              </div>
          </div>
      </form>
  </div>
  <div class="col-12">
      <div class="table-responsive">
          <table class="table table-borderless">
              <thead>
                  <tr>
                      <th>ULB</th>
                      <th>URL</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of ulbURLSData | paginate: { itemsPerPage: 10, currentPage: p };">
                      <td>{{item.ulb_name}}</td>
                      <td>{{item.ulb_url}}</td>
                      <td>
                          <i matTooltip="{{titleService.tooltip.mat_delete}}" class="{{iconService.fa_icons.delete}}" (click)="deleteULBURLsFun(item)"></i>
                      </td>
                  </tr>

              </tbody>
          </table>
      </div>
      <div align="end" style="padding: 0px !important;" *ngIf="ulbURLSData.length>10">
          <pagination-controls (pageChange)="pagination($event)" previousLabel="" nextLabel="" ></pagination-controls>
      </div>
  </div>
</div>
<div class="loading-indicator" *ngIf="spinnerloader">
  <mat-spinner mode="indeterminate" color="primary"></mat-spinner>
</div>