<footer class="footer count-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-12">
                <img class="footer-logo pull-left" src="../../../../../assets/img/EQ-logo.jpg" alt="">
            </div>
            <div class="col-md-6 col-12">
                <img class="footer-logo pull-right" src="../../../../../assets/assets/fugenic_logo.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-12 col-12" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-12 col-12">
                <p class="copyright text-center">&copy;&nbsp;{{currentYear}}&nbsp;CROMPTON - ESQUARE | All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>