<div class="main-container">
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h5 class="card-title">{{titleService.titles.view_rectification}}</h5>
          <!-- *ngIf="titleService.isLoggedIn()" -->
          <div class="icon add-icon">
            <i class="{{iconService.fa_icons.plus}}" aria-hidden="true"
              matTooltip="{{titleService.tooltip.mat_add_rectification}}" routerLink="/esuare/rectification/upload"></i>
          </div>
        </div>
        <div class="card-body">
          
        </div>
      </div>
    </div>
  </div>
</div>