<div class="setting-container">
  <div class="row" *ngIf="ulbData">
    <div class="offset-md-8 col-md-4 col-12 text-end">
      <mat-form-field class="example-full-width">
        <input matInput (click)="dp2.open()" placeholder="Filter by date" (ngModelChange)="checkSearchDate($event)"
          [matDatepicker]="dp2" [(ngModel)]="searchDate" name="searchDate" readonly>
        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
        <mat-datepicker #dp2 panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-6 col-12">
      <div class="card display-card">
        <div class="display-card-body">
          <div class="row">
            <div class="col-md-3 col-3" style="padding: 20px 0px 10px 20px;">
              <img src="../../../../../../../assets/icon/lamp_icon.png" width="75" height="75" alt="">
            </div>
            <div class="col-md-9 col-9">
              <div class="row">
                <div class="col-12 content">
                  <span id="content1">LED Lamps Installed</span>&nbsp;&nbsp;
                  <span id="content2">{{ulbData.total_led_lamps}}</span>
                </div>
                <div class="col-12 content">
                  <span id="content1"> CCMS Installed</span>&nbsp;&nbsp;
                  <span id="content2">{{ulbData.installed_ccms}}</span>
                </div>
                <div class="col-12 content">
                  <span id="content1">Connected Load</span>&nbsp;&nbsp;
                  <span id="content2">{{ulbData.load}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="card display-card1">
        <div class="display-card-body">
          <div class="row">
            <div class="col-md-3 col-3" style="padding: 5px 0px 10px 20px;">
              <circle-progress class="circle__progress" [percent]="percentage" [animation]="true"
                [animationDuration]="300" [startFromZero]="true" [showInnerStroke]="true" [titleFontSize]="'15'"
                [titleFontWeight]="'400'" [unitsFontSize]="'15'" [unitsFontWeight]="'900'" [subtitle]="'Glowing'"
                [subtitleFontSize]="'12'" [lazy]="false"></circle-progress>
            </div>
            <div class="col-md-9 col-9">
              <div class="row">
                <div class="col-12 content">
                  <span id="content1">LED Lamps Connected</span>&nbsp;&nbsp;
                  <span id="content2">{{ulbData.total_led_lamps}}</span>
                </div>
                <div class="col-12 content">
                  <span id="content1"> LED Lamps ON</span>&nbsp;&nbsp;
                  <span id="content2">{{ledLightsOn}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="setting-container">
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h5 class="card-title">{{titleService.titles.view_rectification}}</h5>
          <!-- -->
          <div class="icon add-icon" *ngIf="showAdd">
            <i class="{{iconService.fa_icons.plus}}" aria-hidden="true"
              matTooltip="{{titleService.tooltip.mat_add_rectification}}"
              routerLink="/esquare/rectification/upload"></i>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-5 col-12">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="filter by" type="text" [(ngModel)]="rectType" name="rectType"
                  (selectionChange)="onSelectionChange($event)">
                  <mat-option *ngFor="let option of rectificationDates" [value]="option">{{option}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-5 col-12">
              <mat-form-field class="example-full-width">
                <input matInput (click)="dp.open()" placeholder="Date of Complaint" (ngModelChange)="checkDate($event)"
                  [matDatepicker]="dp" [(ngModel)]="selectedDate" name="selectedDate" readonly>
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp panelClass="example-month-picker">
                </mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-12">
              <div class="row" style="margin-top: 20px;">
                <div class="col-6">
                  <a (click)="filterRectBy('','')" style="color:#5f0a87">clear</a>
                </div>
                <div class="col-6 text-end">
                  <i class="fa fa-download" aria-hidden="true" (click)="downloadSampleXLXSFile()"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive" style="margin-top:20px ;">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th>NameOfULB</th>
                  <th>District</th>
                  <th>WardNo</th>
                  <th>Location</th>
                  <th>PoleNumber</th>
                  <th>Wattage</th>
                  <th>CauseOfComplaint</th>
                  <th>DateOfComplaint</th>
                  <th>DateOfRectification</th>
                  <th>Category</th>
                  <th>Status</th>
                  <th>Action</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of finalData | paginate: { itemsPerPage: 20, currentPage: p };">
                  <td>{{item.NameOfULB}}</td>
                  <td>{{item.District}}</td>
                  <td>{{item.WardNo}}</td>
                  <td>{{item.Location}}</td>
                  <td>{{item.PoleNumber}}</td>
                  <td>{{item.Wattage}}</td>
                  <td>{{item.CauseOfComplaint}}</td>
                  <td>{{item.DateOfComplaint?(item.DateOfComplaint| date: 'dd/MM/YYYY'):item.DateOfComplaint}}</td>
                  <td>{{item.DateOfRectification?(item.DateOfRectification| date:
                    'dd/MM/YYYY'):item.DateOfRectification}}</td>
                  <td>{{item.Category}}</td>
                  <td>{{item.Status}}</td>
                  <td>
                    <i matTooltip="{{titleService.tooltip.mat_view}}" class="{{iconService.fa_icons.edit}}"
                      (click)="editFun(item)"></i>&nbsp;&nbsp;
                    <i matTooltip="{{titleService.tooltip.mat_delete}}" class="{{iconService.fa_icons.delete}}"
                      (click)="deleteFun(item)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div align="end" style="padding: 0px !important;" *ngIf="finalData.length>20">
            <pagination-controls (pageChange)="pagination($event)" autoHide="true" responsive="true" previousLabel=""
              nextLabel="">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="loading-indicator" *ngIf="spinnerloader">
  <mat-spinner mode="indeterminate" color="primary"></mat-spinner>
</div>